In [20]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt

In [29]:
gg = pd.read_csv('films_globe.csv', index_col=0)
res = []
for year in gg.index.unique():
    temp = gg.loc[year]
    if type(temp) == pd.core.series.Series:
        res += [1]
    else: 
        res += [1] + [0 for i in range(len(temp) -1 )]
res = np.array(res)
gg['Globe best film winner'] = res
gg.columns = ['Name', 'Director', 'Producers', 'Globe winner']
gg['Globe best film nominee'] = 1
gg = gg.reset_index()

In [30]:
gg.head(10)

,Year,Name,Director,Producers,Globe winner,Globe best film nominee
0,1951,A Place in the Sun,George Stevens,George Stevens,1,1
1,1951,Bright Victory,Mark Robson,Robert Buckner,0,1
2,1951,Detective Story,William Wyler,William Wyler,0,1
3,1951,Quo Vadis,Mervyn LeRoy,Sam Zimbalist,0,1
4,1951,A Streetcar Named Desire,Elia Kazan,Charles K. Feldman,0,1
5,1952,The Greatest Show on Earth,Cecil B. DeMille,Cecil B. DeMille,1,1
6,1952,"Come Back, Little Sheba",Daniel Mann,Hal B. Wallis,0,1
7,1952,The Happy Time,Richard Fleischer,Earl Fenton,0,1
8,1952,High Noon,Fred Zinnemann,Stanley Kramer,0,1
9,1952,The Thief,Russell Rouse,Clarence Greene,0,1

In [31]:
bf = pd.read_csv("films_bafta.csv", index_col=0)
res = []
for year in bf.index.unique():
    temp = bf.loc[year]
    if type(temp) == pd.core.series.Series:
        res += [1]
    else: 
        res += [1] + [0 for i in range(len(temp) -1 )]
res = np.array(res)
bf['BAFTA best film winner'] = res
bf['BAFTA best film nominee'] = 1
bf = bf.reset_index()
bf.columns = ['Year', 'Name'] + bf.columns[2:].tolist()

In [32]:
bf.head()

   Year               Name  BAFTA best film winner  BAFTA best film nominee
0  1960      The Apartment                       1                        1
1  1960      The 400 Blows                       0                        1
2  1960  The Angry Silence                       0                        1
3  1960      The Adventure                       0                        1
4  1960      La Dolce Vita                       0                        1

In [33]:
oscars = pd.read_csv('films_oscars.csv')

In [34]:
oscars.head()

                  Name  Year  Oscar winner  Oscar nominee
0                Wings  1927             1              1
1           The Racket  1927             0              1
2           7th Heaven  1927             0              1
3  The Broadway Melody  1928             1              1
4                Alibi  1928             0              1

In [35]:
combined_df = gg.merge(bf, how='outer', right_on=['Name', 'Year'], left_on=['Name', 'Year'])

In [36]:
combined_df = combined_df.merge(oscars, how='outer', right_on=['Name', 'Year'], left_on=['Name', 'Year'])

In [42]:
combined_df.describe()

,Year,Globe winner,Globe best film nominee,BAFTA best film winner,BAFTA best film nominee,Oscar winner,Oscar nominee
count,971.000000,285.000000,285.0,292.000000,292.0,537.000000,537.0
mean,1976.005149,0.196491,1.0,0.195205,1.0,0.165736,1.0
std,25.003937,0.398043,0.0,0.397039,0.0,0.372190,0.0
min,1927.000000,0.000000,1.0,0.000000,1.0,0.000000,1.0
25%,1958.500000,0.000000,1.0,0.000000,1.0,0.000000,1.0
50%,1977.000000,0.000000,1.0,0.000000,1.0,0.000000,1.0
75%,1998.000000,0.000000,1.0,0.000000,1.0,0.000000,1.0
max,2016.000000,1.000000,1.0,1.000000,1.0,1.000000,1.0