In [8]:
import numpy as np
import pandas as pd

In [9]:
data = pd.read_csv('results', delimiter=';', header=[0, 1], index_col=0)
data.columns = pd.MultiIndex.from_tuples(data.columns)

In [10]:
data.head()

          imdb                                                           \
  Release Date Gross Rating Country                              Writer
0   1951-08-14  None    7.8     USA  Theodore Dreiser | Patrick Kearney
1   1951-07-16  None    7.4     USA   Robert Buckner | Baynard Kendrick
2         1951  None    7.6     USA        Philip Yordan | Robert Wyler
3   1952-11-13  None    7.2     USA       John Lee Mahin | S.N. Behrman
4   1951-12-01  None    8.0     USA     Tennessee Williams | Oscar Saul

                                                                  \
                      Title      Budget  Year           Language
0        A Place in the Sun  $2,295,304  1951            English
1            Bright Victory        None  1951            English
2           Detective Story        None  1951            English
3                 Quo Vadis  $7,623,000  1951            English
4  A Streetcar Named Desire  $1,800,000  1951  English | Spanish

                                   ...     rotten tomatoes                   \
                      Director     ...                Year Score (audience)
0               George Stevens     ...                1951               84
1                  Mark Robson     ...                1951               73
2                William Wyler     ...                1951               72
3  Mervyn LeRoy | Anthony Mann     ...                1951               73
4                   Elia Kazan     ...                1951               90

                                                                              \
  Ratings (top) Reviews Counted (all) Average Rating (audience) Rotten (top)
0          None                    28                       3.9         None
1          None                  None                       3.6         None
2          None                     9                       3.6         None
3            80                    16                       3.6            1
4           100                    54                       4.0            0


  Average Rating (all) Average Rating (top) Reviews Counted (top) Fresh (top)
0                  7.2                 None                  None        None
1                 None                 None                  None        None
2                  6.0                 None                  None        None
3                  6.4                  5.0                     5           4
4                  8.7                  8.3                     6           6

[5 rows x 33 columns]